extends layout
block head
	script(type='text/javascript').
		var moviePlot =!{JSON.stringify(movie.Plot)};

block body
	.row
		.col-md-1
		.col-md-10.film-info
			.row
				.col-md-5.text-center
					if movie.Poster !== 'N/A'
						img#posterImage(src='http://hafager432.cloudapp.net:4000/img/#{movie.Poster.substr(34)}', alt='Poster for #{movie.Title}', href='http://hafager432.cloudapp.net:4000/img/#{movie.Poster.substr(34)}', name='#{movie.Title}')
				.col-md-7
					h1= movie.Title
					a(href='http://www.imdb.com/title/#{movie.imdbID}')
						h4= 'Rating: ' + movie.imdbRating
					p <b>Year:</b> #{movie.Year}
					p <b>Genre:</b> #{movie.Genre}
					p <b>Awards:</b> #{movie.Awards}
					p <b>Director:</b> #{movie.Director}
					p <b>Actors:</b> #{movie.Actors}
					br
					br
					p <b>Plot:</b>
						#langDropdownDiv
					p#plot= movie.Plot
			.row.back.text-center
				a(href="/")
					h4 Search for another movie


